.invoice-container {
  margin-top: 1rem;
}

.invoice-container .row:nth-child(1) {
  margin-bottom: 2rem;
}

.invoice-container .order-summary {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.invoice-container .order-summary > div:nth-child(2) > div {
  float: right;
}

.invoice-container .order-summary button {
  margin-top: 1rem;
  min-width: 150px;
}

@media print {
  aside {
    display: none;
  }

  .sidebar-menu {
    display: none;
  }

  @page {
    margin-top: 0;
  }

  .invoice-container .order-summary button {
    display: none;
  }
}
