.home-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.home-container .right-side div:nth-child(3) {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
}

.home-container .right-side div:nth-child(3) .card {
  margin-top: 1rem;
}

.home-container .right-side div:nth-child(3) .card div {
  padding: 0.5rem;
}

.home-container .right-side div:nth-child(3) .card div h3 {
  text-align: center;
}
