.home-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.home-container .right-side > div:nth-child(1) {
  text-align: center;
}

.home-container .right-side > div:nth-child(2) {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  margin-top: 1rem;
}

.home-container .right-side > div:nth-child(2) .card {
  padding: 0.5rem;
  text-align: center;
}
