.search-input i {
  cursor: pointer;
  position: absolute;
  margin-top: 5px;
  margin-left: 785px !important;
}

@media (max-width: 1280px) {
  .search-input i {
    margin-left: 530px !important;
  }
}
