.user-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
}

.user-container table .btn-dark {
  margin-right: 0.5rem;
}

.user-container .row:nth-child(2) {
  display: grid;
  margin-top: 1rem;
  grid-template-columns: 1fr 1fr;
}

.user-container .row:nth-child(2) button {
  margin-right: 1rem;
  margin-left: -0.7rem;
  max-width: 200px;
  float: left;
}

.user-container .row:nth-child(2) input {
  max-width: 200px;
  margin-right: -0.8rem;
  float: right;
}

.user-container .search-input i {
  margin-left: 785px !important;
}

@media (max-width: 1280px) {
  .user-container .row:nth-child(1) {
    margin: 0.5rem;
  }

  .user-container .search-input i {
    margin-left: 535px !important;
  }
}
