.products-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
}

.products-container .row:nth-child(1) {
  margin: 1rem;
}

.products-container .row:nth-child(2) {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.products-container .row:nth-child(2) button,
.products-container .row:nth-child(2) a,
.products-container .row:nth-child(2) input {
  margin-right: 1rem;
  max-width: 200px;
  float: left;
}

.products-container .row:nth-child(2) input {
  float: right;
  margin-right: 0;
}
