.products-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
}

.products-container .row:nth-child(1) {
  margin: 1rem;
}

.products-container .row:nth-child(2) button,
.products-container .row:nth-child(2) a {
  margin-right: 1rem;
  max-width: 200px;
  float: left;
}

.products-container .row:nth-child(2) input {
  max-width: 200px;
  float: right;
}

.products-container .search-input i {
  margin-left: 1210px;
}

@media (max-width: 1280px) {
  .products-container .row:nth-child(1) {
    margin: 0.5rem;
  }

  .products-container .search-input i {
    margin-left: 710px;
  }
}
