.category-modal input {
  min-width: 100%;
  margin-bottom: 2rem;
}

.category-modal .btn-outline-dark {
  float: left;
  margin-bottom: 1rem;
}

.category-modal .btn-danger {
  margin-right: 1rem;
}

.category-modal h3 {
  margin: 0.5rem;
}
