#sidebar-menu {
  background-color: red;
}

span {
  color: #fff;
}

i {
  color: #fff;
}

span:first-child {
  font-size: 1.5rem;
  margin: 0 1rem;
}

li {
  margin: 0.25rem 0;
  padding: 0.5rem 0;
}

li span {
  font-size: 1.25rem;
}
