.sidebar-menu {
  min-height: 100vh;
}

.sidebar-menu span {
  color: #fff;
}

.sidebar-menu i {
  color: #fff;
  margin-right: 0.5rem;
  font-size: 1.3rem;
}

.brand {
  padding: 0.5rem 1rem;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
}

.links {
  width: 18rem;
}

.nav-link {
  padding: 0.8rem;
  margin: 0 1rem;
}

.nav-link span {
  font-size: 1.3rem;
}

.nav-link:hover {
  background-color: #343a40;
}

.active {
  background-color: #343a40;
}
