.sidebar-menu {
  position: fixed;
  height: 100%;
}

.sidebar-menu {
  color: #fff;
}

.sidebar-menu i {
  margin-right: 0.5rem;
  font-size: 1.3rem;
}

.brand {
  padding: 0.5rem 1rem;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
}

.nav-link {
  padding: 0.8rem;
  margin: 0 1rem;
}

.nav-link span {
  font-size: 1.3rem;
}

.nav-link:hover {
  transform: scale(1.2);
}

.active {
  font-weight: bolder;
}

.user-profile {
  font-size: 1.3rem;
  cursor: pointer;
  position: absolute;
  margin: 0 1rem;
  bottom: 1%;
  position: fixed;
}

.user-profile :hover {
  transform: scale(1.2);
  font-weight: bolder;
}

.user-profile p {
  margin-left: 1.8rem;
  font-size: 15px;
}

.sidebar-popover h3 {
  font-weight: bold;
}

.sidebar-popover button:nth-child(1) {
  float: left;
  margin-bottom: 1rem;
  margin-right: 0.2rem;
}

@media (max-width: 1280px) {
  .sidebar-menu span {
    display: none;
  }

  .sidebar-menu p {
    display: none;
  }

  .sidebar-menu hr {
    display: none;
  }
}
