*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
}

.title {
  text-align: center;
  font-weight: bold;
  margin-top: 1rem;
}

.sidebar-tooltip {
  display: none !important;
}

/*FORM MODAL*/
.form-modal form {
  padding: 1rem;
}

.form-modal input {
  min-width: 100%;
}

.form-modal textarea {
  min-width: 100%;
}

.form-modal label {
  font-weight: bold;
}

.form-modal label:nth-child(1) {
  margin-top: 1rem;
}

.form-modal .btn-outline-dark {
  float: left;
}

.form-modal textarea,
select {
  margin-bottom: 1rem;
}

.form-modal select {
  margin-bottom: 1rem;
}

.form-modal button {
  margin-top: 1rem;
}

.form-modal .btn-danger {
  margin-right: 1rem;
}
/*FORM MODAL*/

/*COMMON CONTAINER*/
.common-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
}

.common-container .row:nth-child(1) {
  margin: 1rem;
}

.common-container .row:nth-child(2) {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.common-container .row:nth-child(2) button {
  margin-left: -0.7rem;
  margin-right: 1rem;
  max-width: 200px;
  float: left;
}

.common-container .row:nth-child(2) a {
  max-width: 200px;
  float: left;
}

.common-container .row:nth-child(2) input {
  max-width: 200px;
  float: right;
  margin-right: -0.8rem;
}

.common-container .search-input i {
  margin-left: 785px;
}

.common-container tbody td .btn-dark {
  margin-right: 0.5rem;
}
/*COMMON CONTAINER*/

@media (max-width: 1280px) {
  .sidebar-tooltip {
    display: block !important;
  }
}
