*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
}

.title {
  text-align: center;
  font-weight: bold;
}
