*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
}

body {
  overflow: scroll;
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
}

h1 {
  text-align: center;
  margin-bottom: 1.5rem;
}
