.sales .row:nth-child(2) {
  display: grid;
  grid-template-columns: auto 1fr;
}

.sales .row:nth-child(2) input {
  margin-right: 1rem;
  width: 120px;
}

.sales .row:nth-child(2) span {
  font-weight: bold;
  margin-right: 0.5rem;
  margin-top: 0.4rem;
}

.sales .date-pickers {
  display: grid;
  grid-template-columns: auto auto auto;
}

@media (max-width: 1280px) {
}
