.pagination {
  justify-content: center;
}

.pagination > li > button {
  background-color: white;
  color: #212529;
}

.pagination > li > button:focus,
.pagination > li > button:hover,
.pagination > li > button:focus,
.pagination > li > button:hover {
  color: #eee;
  background-color: #212529;
}

.pagination > .active > button {
  background-color: #212529;
  border: solid 1px #212529;
}

.pagination > .active > button:hover {
  background-color: #212529;
  border: solid 1px #212529;
}
